<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=u2uwstollsa;AccountKey=iYFY2ciEH0mqwrN5wu3EbZK+zD0didp0l6k94MxLuoAuMbfrr/5gV0a6MzOsuUpr+GbBned7WpkqKVZZNUbEEA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>